.Signup{
    width: 60%;
    height: 20rem;
    float: left;
    text-align: center;
}

.Signupitem{
    margin: 1rem;
}

.signupButton{
    width: 305px;;
    height:50px;
    background-color:black;
    border-radius: 10px;
    border:1px solid black;
    font-size: 30px;
    color:white;
}
.Signupinputitem{
    width: 300px;;
    height:30px;
    border:1px solid black;
    font-size: 20px;
}